
// Base
// -------------------

// Used for global styles
// Or to override certain Atom core styles

// -------------------

body {
  font-size: @font-size;
  color: @text-color;
  background-color: @app-background-color;
  line-height: 1.7em;
}

atom-pane {
  background-color: @base-background-color;
  &:last-child {
    border-right: none;
  }
}

.atom-dock-toggle-button, .atom-dock-toggle-button-inner {
  border: 0 !important;
  &.bottom {
    margin-bottom: -1px;
  }
}

.atom-dock-resize-handle.atom-dock-resize-handle-resizable.left, .atom-dock-resize-handle.atom-dock-resize-handle-resizable.right {
    background-color: lighten(@base-background-color, 5%)
}

atom-text-editor.editor .bracket-matcher .region {
  border-bottom: 1px solid @text-color-info;
  z-index: 100;
}

.overlay.from-top {
  top: 8rem;
}

atom-panel.modal {
  box-shadow: 0 2px 20px 10px rgba(0, 0, 0, 0.5);
  background-color: #313a4a;
}

.scrollbars-visible-always /deep/ ::-webkit-scrollbar {
  width: 5px;

  &-track {
    border-radius: 0px;
  }

  &-thumb {
    background-color: lighten(@base-background-color, 3%);
    border-radius: 0px;
  }
}
