.settings-view {
  .package-card {
    background-color: lighten(@base-background-color, 4%);
    padding: @component-padding*1.5 @component-padding*2;
    transition: background-color 100ms ease;
    border-color: @base-border-color;
    margin: 20px 0;
    .package-description {
      margin: 5px 0;
      display: block;
      color: @text-color-light;
    }
    &:hover {
      border-color: lighten(@base-background-color, 10%);
      background-color: lighten(@base-background-color, 3%);
    }
  }

  .packages .theme-description {
    font-weight: 400;
    display: block;
    margin: 5px 0;
  }

  .section .section-heading {
    font-weight:  400;
    letter-spacing: -.02em;
    span {
      font-weight: 600;
    }
  }

  .config-menu {
    background-color: #19212e;
    border-right: 0;
    border-left: 1px solid @base-border-color;
    padding: 0;
    li  a {
      padding: 1rem 2rem;
    }
    li:hover a {
      background-color: transparent !important;
    }
    li.active > a {
      background-color: @base-background-color !important;
    }
  }
}
